<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script defer src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="css/chat.css" />


</head>
<body>
  <div id="chat-container">
        <div id="search-container">
        </div>


        <div id="room-container">
         
        </div>

        

        <div id="conversation-list">
           <% Object.keys(roomName).forEach(room => { %>
                
            <% }) %> 
        </div>
        <div id="new-message-container">
        </div>



        <div id="chat-title">
            <span id="Username"></span>
        </div>
    
    <div id="chat-form">
        <form id="send-container">
          <input type="text" placeholder="Type a message (ENTER To Send)" id="message-input" />
        </form>
    </div>
    </div>

</body>

    <script>
         
          var convoNum = "convo $roomCount.toString()$";
         
          var setURL = "location.href='"+'crisco-chatroom.uc.r.appspot.com'+"';";
          const roomElement = document.createElement('div');
          roomElement.setAttribute('class', 'conversation');
          roomElement.setAttribute('id', convoNum);
          roomElement.setAttribute('onclick', setURL);
          roomElement.setAttribute('style', 'cursor: pointer;');
          roomElement.innerHTML = "Home Page";       
          document.getElementById('conversation-list').appendChild(roomElement);   
      
    </script> 


</html>
